<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta https-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Drifting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app/css/style.css" />

    <style>
        .dropdown:hover .dropdown-menu{
        display: block;
        }
    </style>

</head>

<body>

    <!-- Menu Fixed Topbar -->

    <!-- <div class="bg"></div> -->
     

    

    
    <nav id="top" class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="?page=home"><img id="logo" src="app/images/Dlogo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=drift">Drift <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=touge">Touge <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=about">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Wheels and Tires
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="?page=wheels">JDM Wheels</a>
                      <a class="dropdown-item" href="?page=staggered">Staggered Wheels</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="?page=stretched">Stretched Tires</a>
                    </div>
                </li>
                
                
                
            </ul>
        </div>
      </nav>

    

    <!-- End of Menu Topbar -->

    <!-- Headder Section -->

 

    <div id="jumb" class="jumbotron jumbotron-fluid bg-dark">
    <div class="container text-center">
        <h1 class="display-5 text-danger"><strong>Drifting</strong></h1>
        <p class="lead text-white"><strong>IT STARTED IN JAPAN: THE HISTORY OF DRIFTING</strong></p>
    </div>
    </div>
    

    <!-- End Headder -->

    <!-- Main Content -->


<div class="jumbotron jumbotron-fluid bg-transparent">

    <div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-6">
            <h1>From the mountain roads of Japan to the racetracks of the world</h1>
            <p>What do you know about the origins of drifting? In the past 25-or-so-years the practice of sliding a rear-wheel-drive car around a set course has gone from illegal nighttime pursuit in the mountains of Japan to a globally-recognised professional sport.</p>
            <p>There’s an awful lot of miseducation in the mainstream media about the popularisation of drifting. Movies like The Fast And The Furious: Tokyo Drift have become the lazy journalist’s go-to reference point whenever a news story pops up about the sport, but dig a little deeper and you’ll soon learn that the art of drifting has a lot more to do with traditional motorsport than neons, big spoilers and bad acting.</p>
        </div>
        <div class="col-lg-6">
            <img src="app/images/keiichi-tsuchiya.jpg" class="img-fluid">
        </div>
    </div>    
    </div>

    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-6">
                <h1>THE ORIGINAL FATHER OF DRIFT</h1>
                <p>Trace drifting back to its absolute beginnings in Japan and the name Kunimitsu Takahashi crops up. Takahashi is a former professional motorcycle and car racing driver, and was in fact the first Japanese racer to win a motorcycle Grand prix, back in Germany in 1961. Following a bad injury sustained in a crash during the 1962 Isle of Man TT, he changed disciplines and started racing cars in 1965. Kunimitsu Takahashi became a master of sliding his Skyline KPGC10 in all weather conditions.</p>
                <p>Takahashi raced everything from Formula One to GT2 throughout his career, but it was his driving style in the All Japan Touring Car Championship (which later became JGTC and then Super GT) during the 1970s that captured the attention of Japanese street racers, and eventually inspired the sport of drifting. To combat the grip inadequacies of the bias ply racing tyres at the time, Takahasi would approach bends at speed in his ‘Hakosuka’ (Nissan Skyline KPGC10) coaxing the car into a slide before the apex of the corner, before powering out onto the straights, holding a high exit speed. His mastery of the technique in all conditions saw him on the top of the podium time after time, with competitors unable to match his speed through the corners.</p>
            </div>
            <div class="col-lg-6">
                <img src="app/images/kunimitsu-takahashi.jpg" class="img-fluid">
            </div>
        </div>    
    </div>

        <div class="container-fluid padding">
            <div class="row padding">
                <div class="col-lg-6">
                    <h1>FROM RACETRACK TO THE ROAD</h1>
                    <p>Much like how stock car racing and NASCAR evolved from illegal activities, drifting followed a similar path. Japanese illegal street racers (known as hashiriya) had been racing from A-to-B on mountain roads, or tōge (also spelled touge), in a bid to set the fastest time. Reaching the limits of grip on these twisty roads, and inspired by Takahashi's racing at the time, the drift style began to gain favour in maintaining a fast line through the course. One such racer was a young Keiichi Tsuchiya, whose natural ability to maintain drifts from corner to corner at speed in his 1986 Toyota Sprinter Trueno saw him establish a lofty reputation as ‘Dorikin’, or ‘Drift King’, on the mountain roads.
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="app/images/keiichi-86.jpg" class="img-fluid">
                </div>
            </div>    
        </div>


</div>



    <!-- End of Main Content -->

    <footer class="page-footer font-small bg-secondary bg-dark mt-5 text-center py-2">
        <h1 class="text-white">You can contact us here:</h1>
        <hr class="light">
        <p>
          <a class="text-white" href="mailto:huntingfordrifts@gmail.com">HuntingForDrifts@gmail.com</a>
        </p>
        <div class="footer-copyright text-white text-center py-3">Copyright © 2020 Drift Hunters - All rights reserved.
        </div>
    </footer>

    

   


    <script src="app/JS/myScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>