<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta https-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ebisu Circuit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app/css/style.css" />

    <style>
        .dropdown:hover .dropdown-menu{
        display: block;
        }
    </style>

</head>

<body>

    <!-- Menu Fixed Topbar -->

    <!-- <div class="bg"></div> -->
     

    

    
    <nav id="top" class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="?page=home"><img id="logo" src="app/images/Dlogo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=drift">Drift <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=touge">Touge <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=about">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Wheels and Tires
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="?page=wheels">JDM Wheels</a>
                      <a class="dropdown-item" href="?page=staggered">Staggered Wheels</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="?page=stretched">Stretched Tires</a>
                    </div>
                </li>
                
                
                
            </ul>
        </div>
    </nav>

    

    <!-- End of Menu Topbar -->

    <!-- Headder Section -->

 

    <div id="jumb" class="jumbotron jumbotron-fluid bg-dark">
    <div class="container text-center">
        <h1 class="display-5 text-danger"><strong>Ebisu Circuit: Things You Need To Know</strong></h1>
        <p class="lead text-white"><strong>Japan's Car Jungle</strong></p>
    </div>
    </div>
    

    <!-- End Headder -->

    <!-- Main Content -->


<div class="jumbotron jumbotron-fluid bg-transparent">

    <div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-6">
            <h1>1. IT’S NOT A CIRCUIT, IT’S SEVEN CIRCUITS.</h1>
            <p>The name is deceiving; Ebisu Circuit is actually home to a number of different courses scattered throughout a huge portion of land with numerous elevation changes – the whole place is basically on the side of a mountain. There’s North or ‘Kita’ course, which is the highest and known for its super fast entry coming off the main straight. There’s the infamous Touge course, which imitates a winding mountain road, and the deceivingly dangerous and somewhat inappropriately named ‘School course’, which is supposed to be for beginners but it’s actually where most of the cars end up getting damaged. Then there’s South or ‘Minami’ course – also know as the ‘Drift Stadium’ course – which is where most drift competitions are held, and it’s the track with the famous ‘jump’.
            </p>
            <p>There are also two circuits more suited to higher speeds, Nishi (west) and Higashi (east), however these are only open to park-goers during Drift Matsuri (festival) events, otherwise they’re generally only hired out for private track days and testing. Lastly, there’s Drift Land which is a large paved area featuring a small course layout, and ‘Kuru Kuru Land’ which consists of two smaller paved areas ideal for beginner drivers to start out on. It’s worth noting that Drift Land isn’t always available to drift on, depending on whether the elephants are there or not. Don’t worry, I’ll get to that part soon…</p>
            
        </div>
        <div class="col-lg-6">
            <img src="app/images/ebisu.png" class="img-fluid">
        </div>
    </div>    
    </div>

    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-6">
                <h1>2. IT’S IN FUKUSHIMA, IN THE ‘TŌHOKU’ REGION OF JAPAN.</h1>
                <p>Some people assume that Ebisu Circuit is close to Tokyo, but this isn’t entirely true. In reality it’s about a three and a half hour drive north; sometimes it can take up to 4 hours if you experience traffic or stop for a break. Although you can get up to Fukushima quicker by taking the bullet train, you can’t exactly walk to Ebisu Circuit from the train station, so unless you’ve got someone to pick you up and drive you around, you’re going to need your own car to get there. The park itself has many steep roads and isn’t exactly easy to get around on foot either.
                </p>
                <h2>3. YOU CAN BUY A CAR AND KEEP IT THERE, THANKS TO POWER VEHICLES.</h2>
                <p>If you’ve always dreamt of doing some track driving in Japan, there’s a company that is actually based at Ebisu Circuit that can help you with this. Power Vehicles can source you a drift-capable car and have this ready and waiting for you up at the circuit. The idea is that the car is stored at Ebisu for you – it won’t be street-registered – and most people visit there once or twice a year to drive in the triannual Drift Matsuri events. You can read more about their services at <a class="fancy-link redText" href="https://www.powervehicles.com/">www.powervehicles.com</a> . </p>
                
            </div>
            <div class="col-lg-6">
                <img src="app/images/powervehicles.jpg" class="img-fluid">
            </div>
        </div>    
    </div>

        <div class="container-fluid padding">
            <div class="row padding">
                <div class="col-lg-6">
                    <h1>4. OH, AND IT’S ALSO A ZOO.</h1>
                    <p>Yes, you read that correctly, the Ebisu Circuit facilities are actually ‘combined’ with the Tōhoku Safari Park, so it’s literally a theme park for racing and exotic animals. Scattered around the premises are old, falling-to-bits safari cars and buses painted in wild zebra striped and giraffe spotted colour schemes, enclosures with lions, elephants, cows (not kidding), sea lions and monkeys.
                    </p>
                    <p>If so desired, in between sessions of ripping round your circuits of choice and performing maintenance on your car, you can pop in to pet the monkeys or bunny rabbits. Personally I’m very against seeing these animals in captivity especially considering the conditions they’re kept in; as much as I love Ebisu I just don’t agree with it. If you’re sensitive to this stuff then please let this serve as a genuine warning before you go there.</p>
                    
                </div>
                <div class="col-lg-6">
                    <img src="app/images/supra.jpeg" class="img-fluid">
                </div>
            </div>    
        </div>


</div>



    <!-- End of Main Content -->

    <footer class="page-footer font-small bg-secondary bg-dark mt-5 text-center py-2">
        <h1 class="text-white">You can contact us here:</h1>
        <hr class="light">
        <p>
          <a class="text-white" href="mailto:huntingfordrifts@gmail.com">HuntingForDrifts@gmail.com</a>
        </p>
        <div class="footer-copyright text-white text-center py-3">Copyright © 2020 Drift Hunters - All rights reserved.
        </div>
    </footer>

    

   


    <script src="app/JS/myScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>