<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta https-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Introduction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app/css/style.css" />

    <style>
        .dropdown:hover .dropdown-menu{
        display: block;
        }
    </style>

</head>

<body>

    <!-- Menu Fixed Topbar -->

    <!-- <div class="bg"></div> -->
     

    

    
    <nav id="top" class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="?page=home"><img id="logo" src="app/images/Dlogo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=drift">Drift <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=touge">Touge <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=about">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Wheels and Tires
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="?page=wheels">JDM Wheels</a>
                      <a class="dropdown-item" href="?page=staggered">Staggered Wheels</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="?page=stretched">Stretched Tires</a>
                    </div>
                </li>
                
                
                
            </ul>
        </div>
    </nav>

    

    <!-- End of Menu Topbar -->

    <!-- Headder Section -->

 

    <div id="jumb" class="jumbotron jumbotron-fluid bg-dark">
    <div class="container text-center">
        <h1 class="display-5 text-danger"><strong>An Introduction To Japanese Car Culture</strong></h1>
        <p class="lead text-white"><strong>Japan's Car Culture</strong></p>
    </div>
    </div>
    

    <!-- End Headder -->

    <!-- Main Content -->


<div class="jumbotron jumbotron-fluid bg-transparent">

    <div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-6">
            <h1>Why is car culture in Japan so awesome? And why do you need to experience it in person to 'get it'?</h1>
            <p>Car culture in Japan is exciting, unique and most definitely something special – but why?
                At a glance, the most obvious reason seems to be that the Japanese have always had easy access to affordable performance cars to play with, thanks to their home country being the birthplace of manufacturers like Toyota, Nissan, Honda, Mazda and Mitsubishi. As these automakers have competed with each other over the years, boundaries have been pushed and new technologies developed, resulting in the creation of some of the coolest and most iconic enthusiast cars (like the Skyline, Supra and RX-7), that we continue to lust over today.</p>
            <p>Another reason is perhaps Japan’s otaku culture. This is a word that you might’ve heard before, and although it translates to ‘nerd’ or ‘geek’, it really refers to someone who is extremely enthusiastic about something. Somebody who’s an otaku isn’t just passionate about their hobby, they also have in-depth knowledge of it to the point of obsession – they get really, really into it! Perhaps it’s this cultural trait that’s helped Japan’s car scene thrive, and not to mention help the aftermarket parts industry flourish too.</p>
            
        </div>
        <div class="col-lg-6">
            <img src="app/images/Dekotoratrucks.jpg" class="img-fluid">
        </div>
    </div>    
    </div>

    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-6">
                <h1>Drifting.</h1>
                <p>We’re all somewhat familiar with the concept of drifting – the art of controlled and sustained oversteer – but perhaps not everyone’s familiar with where it originated from and how it’s evolved to become the popular hobby and professional motorsport that it is today. This wild style of driving was often used by a well-known Japanese motorcycle racer turned Formula car driver named Kunimitsu Takahashi, who is credited as the first person to have actively used and honed the technique of ‘drifting’ in his racing back in the ’70s. The Japanese street racers of the time took notice and began to emulate Takahashi’s driving style, practicing late at night on touge mountain passes (of which there are no shortage in Japan as there are a LOT of mountains there!).
                </p>
                <p>Among these racers was Keiichi Tsuchiya, the now famous driver known commonly known as the ‘Drift King’, who took Takahashi’s techniques to the next level. Tsuchiya took on the challenge of mastering drifting in his racing, but he also recognised how this made racing much more of an exciting spectacle for those watching. In 1987, a video was released featuring Tsuchiya’s touge driving skills in his AE86 Toyota Levin, inspiring car enthusiasts and racers throughout Japan and making drifting more well-known. Japan’s first organised drift competition on a race track took place the following year. The main character of the famous Japanese manga Initial D (which, no doubt, also did its part in the popularisation of drifting), was inspired by Tsuchiya, who helped as an editorial consultant.</p>
            </div>
            <div class="col-lg-6">
                <img src="app/images/takahashi-slide.jpg" class="img-fluid">
            </div>
        </div>    
    </div>

        <div class="container-fluid padding">
            <div class="row padding">
                <div class="col-lg-6">
                    <h1>Time attack.</h1>
                    <p>Like drifting, time attack racing began in Japan and has since become hugely popular elsewhere in the world. It’s all about nailing the quickest possible lap time, and the Japanese sure know how to make it a thrilling event for the spectators – a huge variety of different modified machines take part, and things can get seriously heated.
                    </p>
                    <p>Both Fuji International Speedway and Tsukuba Circuit play host to a number of important events on the Japanese time attack calendar, with different competitions and series existing for both tuning shops and privateer teams. Arguably the most anticipated events include the annual time attack battle at the HKS Premium Day at Fuji, and the Battle Evome series at Tsukuba. With records being broken by only fractions of a second, the suspense makes it incredibly exciting!</p>
                    <p>Street racing in Japan. From the mid 1980s and throughout the ’90s, street racing was perhaps the highlight of Japanese car culture. Perhaps the most well-known group of racers were the Mid Night Club, who became infamous for their illegal top speed races on the Wangan – the Bayshore Route of the Shuto Expressway running between Tokyo and Yokohama.</p>
                </div>
                <div class="col-lg-6">
                    <img src="app/images/timeattack.jpg" class="img-fluid">
                </div>
            </div>    
        </div>


</div>



    <!-- End of Main Content -->

    <footer class="page-footer font-small bg-secondary bg-dark mt-5 text-center py-2">
        <h1 class="text-white">You can contact us here:</h1>
        <hr class="light">
        <p>
          <a class="text-white" href="mailto:huntingfordrifts@gmail.com">HuntingForDrifts@gmail.com</a>
        </p>
        <div class="footer-copyright text-white text-center py-3">Copyright © 2020 Drift Hunters - All rights reserved.
        </div>
    </footer>

    

   


    <script src="app/JS/myScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>