<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta https-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Staggered Wheels</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app/css/style.css" />

    <style>
        .dropdown:hover .dropdown-menu{
        display: block;
        }
    </style>

</head>

<body>

    <!-- Menu Fixed Topbar -->

    <!-- <div class="bg"></div> -->
     
    <nav id="top" class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="?page=home"><img id="logo" src="app/images/Dlogo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=drift">Drift <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=touge">Touge <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=about">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Wheels and Tires
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="?page=wheels">JDM Wheels</a>
                      <a class="dropdown-item" href="?page=staggered">Staggered Wheels</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="?page=stretched">Stretched Tires</a>
                    </div>
                </li>
                
                
                
            </ul>
        </div>
      </nav>

    

    <!-- End of Menu Topbar -->

    <!-- Headder Section -->

 

    <div id="jumb" class="jumbotron jumbotron-fluid bg-dark">
        <div class="container text-center">
            <h1 class="display-5 text-danger"><strong>Staggered Wheels</strong></h1>
            <p class="lead text-white"><strong>Enhanced Acceleration and Grip</strong></p>
        </div>
    </div>

    <!-- End Headder -->

    <!-- Main Content -->
<div class="jumbotron jumbotron-fluid bg-transparent">

    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-6">
                <h1>Staggered Wheels Pros and Cons</h1>
                <p>Have you seen a vehicle with staggered wheels before? Do you know what makes staggered wheels a popular choice among modern buyers? While seeing the Mustang (and other sports cars) with an aggressive stance, you might have noticed a difference in the front and rear tires. Once you know the difference, you might be impressed by staggered wheels. Staggered wheels are also known as the staggered applications or staggered fitment. The difference is that the rear wheels and tires will not be the same as the front tires and wheels. In this article, we will discuss staggered wheels pros and cons to enable you to take the decision with a well-informed mind.</p>
                <h2>Staggered Wheels Pros and Cons — Improve Your Vehicle’s Performance</h2>
                <p>The staggered rear tires and wheels are wider than front wheels and tires. This innovation is added to boost the performance and overall look. You are going to appreciate them both. You should have staggered wheels to enjoy your driving more than ever.</p>
                <p>Additionally, the spoke design on sport / race oriented custom wheels is usually optimal for keeping your brakes cool under heavy use.</p>
            </div>
            <div class="col-lg-6">
                <img src="app/images/stagg1.jpeg" width="700" height="700" class="img-fluid">
            </div>
        </div>    
    </div>

    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-6">
                <h1>Why Should You Consider Staggered Wheels and Tires?</h1>
                <p>This question is obvious when a wide option of wheels are available. Staggered wheels can be perfect for all those with a rear-wheel-drive vehicle. These wheels are designed to maximize the performance of your vehicle. However, you should not consider staggered wheels for front-wheel drive vehicles or all-wheel drive vehicles. In both these types, you should not use staggered wheels.</p>
                <p>The objective behind the staggered wheel and tire design is to put larger tires on your rear-drive vehicles. Larger tires will help in braking and cornering with more power regardless of the road condition. The wider rear wheel will provide better traction on dry pavement, especially in the summer. However, you will need snow tires in the winter if you are living in a cold climate. You will certainly prefer to switch to a square fitment in winter months.</p>
            </div>
            <div class="col-lg-6">
                <img src="app/images/stagg2.jpg" width="600" height="600" class="img-fluid">
            </div>
        </div>    
    </div>

    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-6">
                <h1>What are the Pros of Staggered Wheels?</h1>
                <p>Staggered wheels come with many benefits. You can get a staggered wheel and tire package depending on your specific requirements. These are best to boost your vehicle’s performance. The wider wheels on your rear-drive vehicle will offer a better grip on the pavement. You will have more control over your vehicle. The increased grip will ensure better acceleration as well. You can manage your vehicle smoothly on uneven roads. Staggered wheels are considered good for their appealing look. The wider stance will make your ride more powerful and sleeker.</p>
                <h2>Is there a Downside?</h2>
                <p>Yes, staggered wheels are not free from downsides. However, there are only a few. You will need to rotate the tires laterally. Instead of your standard rotation, you need to move the right tire to the left. Also, you might notice a difference in the ride quality depending on the size of the wheels.</p>
                <h2>To Summarize</h2>
                <p>These are the staggered wheels pros and cons to consider. If you take into consideration all the above-mentioned benefits, you might ignore the downsides. You can make your ride effortless with a few precautions. After all, staggered wheels are going to boost the performance and look of your rear-wheel-drive vehicles.</p>
            </div>
            <div class="col-lg-6">
                <img src="app/images/stagg4.png" width="750" height="750" class="img-fluid">
            </div>
        </div>    
    </div>

    

</div>
    

    

    <!-- End of Main Content -->

    <footer class="page-footer font-small bg-secondary bg-dark mt-5 text-center py-2">
        <h1 class="text-white">You can contact us here:</h1>
        <hr class="light">
        <p>
          <a class="text-white" href="mailto:huntingfordrifts@gmail.com">HuntingForDrifts@gmail.com</a>
        </p>
        <div class="footer-copyright text-white text-center py-3">Copyright © 2020 Drift Hunters - All rights reserved.
        </div>
    </footer>

    

   


    <script src="app/JS/myScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>