<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta https-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Touge Racing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app/css/style.css" />

    <style>
        .dropdown:hover .dropdown-menu{
        display: block;
        }
    </style>

</head>

<body>

    <!-- Menu Fixed Topbar -->

    <!-- <div class="bg"></div> -->
     
    <nav id="top" class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="?page=home"><img id="logo" src="app/images/Dlogo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=drift">Drift <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=touge">Touge <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=about">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Wheels and Tires
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="?page=wheels">JDM Wheels</a>
                      <a class="dropdown-item" href="?page=staggered">Staggered Wheels</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="?page=stretched">Stretched Tires</a>
                    </div>
                </li>
                
                
                
            </ul>
        </div>
      </nav>

    

    <!-- End of Menu Topbar -->

    <!-- Headder Section -->

 

    <div id="jumb" class="jumbotron jumbotron-fluid bg-dark">
        <div class="container text-center">
            <h1 class="display-5 text-danger"><strong>Touge Racing</strong></h1>
            <p class="lead text-white"><strong>Touge – The Japanese Mountain Back Roads</strong></p>
        </div>
    </div>

    <!-- End Headder -->

    <!-- Main Content -->
<div class="jumbotron jumbotron-fluid bg-transparent">

    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-6">
                <h1>What does Touge mean?</h1>
                <p>The Touge could be considered an alternative to the British Back Road, but instead of sweeping through the countryside, it sweeps through a mountain. Touge, or Tōge, means “Pass” in Japanese, with these mountain roads being created with various S bends so the mountainous terrain could be conquered in Japan. Originally routes created for the simplicity of moving for commercial vehicles and commuters, the motoring community has taken a serious interest. Now being used for drifting, racing and road-side car meets, Touge’s are a part of Japanese car culture.</p>
                <p>For touge racing team battling, a race has two stages — an uphill and a downhill battle. One car leads the race during the uphill stage, with the second car leading the downhill. Because most touge races feature narrow tracks, overtaking is extremely difficult and is sometimes impossible.</p>
                <p>The aim of touge is not to ‘drift’, it’s more to a ‘grip driving’ and aiming to be the fastest on a particular stretch of road. Drifting can be used to block the chaser or as a part of a driving strategy, but touge is traditionally focused on grip. During the race , the lead car wins if the space between the cars increases considerably, while the following car wins if the gap between them stays the same, decreases from start to finish or the following car overtakes the lead car. If any car spins out or crashes, the other one wins the race.</p>
            </div>
            <div class="col-lg-6">
                <img src="app/images/touge.jpg" class="img-fluid">
            </div>
        </div>    
    </div>

    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-6">
                <h1>In Popular Culture</h1>
                <p>Initial D, a Japanese manga by Shuichi Shigeno which then became a popular anime can be credited as one of the biggest Touge influences. Although based on already-existing practices, Initial D brought Touge driving to light in mainstream car culture. Through the manga and anime’s various uphill and downhill battles, the nature of the Touge roads was exploited. Through the various S bends and altitude changes, the spirit of drifting was put on display for all to see!</p>
            </div>
            <div class="col-lg-6">
                <img src="app/images/ae86.jpg" class="img-fluid">
            </div>
        </div>    
    </div>

    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-6">
                <h1>In The Real World</h1>
                <p>Touge’s stand as a true test of driver skill, with the narrow roads and tight bends putting them through their paces. A brilliant way to show off some driving flair, it is popular for street races and drift events. Even for road testing! The Japanese car show <a class="fancy-link redText" href="https://www.youtube.com/channel/UCrmsruqPgCIs4PImiZs0t9w">Best Motoring</a> performed many stunts on the Touge roads, many featuring the original AE86 drift master Keiichi Tschuiya himself!</p>
                <p>As evidenced by the video, being able to control a slide or even drift is an essential skill for hardcore Touge drivers, one of the only places where drifting can be effective due to the narrow roads.
                    One of the more interesting things about Touge is the involvement of regular drivers who are just using it as a way to get to where they are going. In Japan the drivers are very respectful of each other when racing on the Touge, with regular drivers moving aside to make room. Often during drifting events spotters will notify drivers of oncoming traffic from the bottom and top of the mountain pass.
                    </p>
            </div>
            <div class="col-lg-6">
                <img src="app/images/bestmotoring1.gif" class="img-fluid">
            </div>
        </div>    
    </div>










</div>
    

    
    

    

    <!-- End of Main Content -->

    <footer class="page-footer font-small bg-secondary bg-dark mt-5 text-center py-2">
        <h1 class="text-white">You can contact us here:</h1>
        <hr class="light">
        <p>
          <a class="text-white" href="mailto:huntingfordrifts@gmail.com">HuntingForDrifts@gmail.com</a>
        </p>
        <div class="footer-copyright text-white text-center py-3">Copyright © 2020 Drift Hunters - All rights reserved.
        </div>
    </footer>

    

   


    <script src="app/JS/myScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>