<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta https-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Travel Tip</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app/css/style.css" />

    <style>
        .dropdown:hover .dropdown-menu{
        display: block;
        }
    </style>

</head>

<body>

    <!-- Menu Fixed Topbar -->

    <!-- <div class="bg"></div> -->
     

    

    
    <nav id="top" class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="?page=home"><img id="logo" src="app/images/Dlogo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=drift">Drift <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=touge">Touge <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=about">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Wheels and Tires
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="?page=wheels">JDM Wheels</a>
                      <a class="dropdown-item" href="?page=staggered">Staggered Wheels</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="?page=stretched">Stretched Tires</a>
                    </div>
                </li>
                
            </ul>
        </div>
    </nav>

    

    <!-- End of Menu Topbar -->

    <!-- Headder Section -->

 

    <div id="jumb" class="jumbotron jumbotron-fluid bg-dark">
    <div class="container text-center">
        <h1 class="display-5 text-danger"><strong>The Most Important Japan Travel Tip</strong></h1>
        <p class="lead text-white"><strong>Visiting Japan</strong></p>
    </div>
    </div>
    

    <!-- End Headder -->

    <!-- Main Content -->


<div class="jumbotron jumbotron-fluid bg-transparent">

    <div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-6">
            <h1>Want to visit Japan to see cool car stuff? Read this first!</h1>
            <p>What’s the key to having an amazing car-related holiday in Japan? Believe it or not, if you follow this one tip, you’re guaranteed to see some amazing cars there, no matter what! We just can’t put enough emphasis on how important it is…</p>
            <p>Many people seem to book flights to Japan without really having thought out an ‘action plan’ beforehand. But if you’re only heading to Japan for a short time, there’s a chance that there might be no car meets or events taking place then! This is why we think it’s so important to plan the dates for your Japan trip around a big automotive event – an event that you know will be taking place during that time!</p>
            <p>Each time we’ve visited Japan we’ve done this, and we can’t recommend it enough. However, the very first time we visited Japan it was only for 10 days, and at the time of booking our flights, we had made NO plans whatsoever! During that period there was only one weekend, and it was only by chance that a big event happened to be taking place at Tsukuba that Sunday. We had the most incredible time, and it ended up being the absolute highlight of our visit! But if that event hadn’t been on? Our trip just wouldn’t have been as good, there’s no doubt about it.</p>
            <p>So what do we mean when we say ‘big event’? Generally this would be an organised car meeting, show or track event. Many large events are annual affairs which take place around the same time each year, and they also would usually have a website or even a Facebook page with event information so you can stay updated.</p>
            <p>Don’t leave things to chance! Plan ahead so that you can be sure to see some sweet cars in the flesh and get some great photos while you’re at it. </p>
        </div>
        <div class="col-lg-6">
            <img src="app/images/drifttrain.jpeg" class="img-fluid">
        </div>
    </div>    
    </div>

    


</div>



    <!-- End of Main Content -->

    <footer class="page-footer font-small bg-secondary bg-dark mt-5 text-center py-2">
        <h1 class="text-white">You can contact us here:</h1>
        <hr class="light">
        <p>
          <a class="text-white" href="mailto:huntingfordrifts@gmail.com">HuntingForDrifts@gmail.com</a>
        </p>
        <div class="footer-copyright text-white text-center py-3">Copyright © 2020 Drift Hunters - All rights reserved.
        </div>
    </footer>

    

   


    <script src="app/JS/myScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>