<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta https-equiv="X-UA-Compatible" content="ie=edge" />
    <title>JDM Wheels</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app/css/style.css" />

    <style>
        .dropdown:hover .dropdown-menu{
        display: block;
        }
    </style>

</head>

<body>

    <!-- Menu Fixed Topbar -->

    <!-- <div class="bg"></div> -->
     
    <nav id="top" class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="?page=home"><img id="logo" src="app/images/Dlogo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=drift">Drift <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=touge">Touge <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" href="?page=about">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Wheels and Tires
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="?page=wheels">JDM Wheels</a>
                      <a class="dropdown-item" href="?page=staggered">Staggered Wheels</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="?page=stretched">Stretched Tires</a>
                    </div>
                </li>
                
                
                
            </ul>
        </div>
      </nav>

    

    <!-- End of Menu Topbar -->

    <!-- Headder Section -->

 

    <div id="jumb" class="jumbotron jumbotron-fluid bg-dark">
        <div class="container text-center">
            <h1 class="display-5 text-danger"><strong>JDM Wheels</strong></h1>
            <p class="lead text-white"><strong>Performance and Style</strong></p>
        </div>
    </div>

    <!-- End Headder -->

    <!-- Main Content -->
<div class="jumbotron jumbotron-fluid bg-transparent">

    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-6">
                <h1>TYPES OF WHEELS</h1>
                <p>There's generally two types of wheels that are offered on the market - sport / race oriented wheels and aesthetically pleasing wheels.</p>
                <h2>Sport / Race Oriented Wheels</h2>
                <p>This kind of wheel is one that you'd see on a proper race car - it usually has a flat wheel face and thin, straight spokes.  The pursuit of light weight is most important here as every ounce you save on your wheel weight over stock creates huge weight savings overall.  Rotational weight vs. static weight is about 4 times roughly speaking, so that saving of 2 pounds over your stock wheel is actually good for 8 pounds of rotational weight, which can add up quickly when it's four wheels that you're saving weight on.  These wheels are usually made of aluminum and are either one piece cast or multiple piece (2 piece or 3 piece) forged design.</p>
                <p>Additionally, the spoke design on sport / race oriented custom wheels is usually optimal for keeping your brakes cool under heavy use.</p>
            </div>
            <div class="col-lg-6">
                <img src="app/images/sport.jpg" width="400" height="400" class="img-fluid">
            </div>
        </div>    
    </div>

    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-6">
                <h1>Aesthetic / Style Wheels</h1>
                <p>If racing and going fast isn't your top priority, then there's tons of options for setting your car apart from the crowd.  The wheel industry has change dramatically over the recent years with more focus on concave wheel faces and fitment with your fender as top priorities.  We sell a bit more of this style of wheel - one that is more focused on the visual appeal that it makes on the car.  These wheels are usually available in a few colors and have a concave face with a width and offset that are meant to mate perfectly with your wheel fender line.</p>
            </div>
            <div class="col-lg-6">
                <img src="app/images/style.jpg" width="400" height="400" class="img-fluid">
            </div>
        </div>    
    </div>

    

</div>
    

    
    

    

    <!-- End of Main Content -->

    <footer class="page-footer font-small bg-secondary bg-dark mt-5 text-center py-2">
        <h1 class="text-white">You can contact us here:</h1>
        <hr class="light">
        <p>
          <a class="text-white" href="mailto:huntingfordrifts@gmail.com">HuntingForDrifts@gmail.com</a>
        </p>
        <div class="footer-copyright text-white text-center py-3">Copyright © 2020 Drift Hunters - All rights reserved.
        </div>
    </footer>

    

   


    <script src="app/JS/myScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>